.col-sm-12.col-md-4.col-md-offset-4
  %h1 Messages
  - if params[:mailbox] == 'inbox'
    %strong= link_to 'Sent Messages', messages_path(:mailbox=>:sent)
  - if params[:mailbox] == 'sent'
    %strong= link_to 'Received Messages', messages_path(:mailbox=>:inbox)
  %br
  %hr

  .panel-group{:id => "accordian", "role" => "tablist"}
    - @messages.group_by {|m| m['reservation_id']}.each do |reservation, message|
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a.accordion-toggle{"data-toggle" => "collapse", "data-parent" => "#accordion", :href => "#collapse-#{reservation}", "aria-expanded" => "false"}
              Regarding your dining experience in #{Reservation.find(reservation).city}.
        .panel-collapse.collapse{:id => "collapse-#{reservation}"}
          .panel-body
            - message.each do |m|
              %p.subject= "Subject: #{m.subject}"
              %strong= "From: #{User.find(m.sender_id).full_name}."
              %br
              %p.messagebody= m.body.gsub(/\n/, '<br />').html_safe
              %button.btn.btn-small
                = link_to 'Reply', new_message_path(reply_to: m.id)
              %hr

