.col-sm-12.col-md-6.col-md-offset-3
  %h1 Create a new message

  = simple_form_for( @message, :defaults => { :wrapper_html => {:class => 'form-group'}, :input_html => { :class => 'form-control' } } ) do |f|
    = f.error_notification
    .form-inputs
      = f.input :subject
      %br
      = f.input :body

      = f.hidden_field :receiver_id
      = f.hidden_field :reservation_id
    .form-actions
      = f.button :submit

-#body
-#subject
-#sender_id
-#receiver_id
-#read_at
-#deleted
-#reservation_id
