%h1 Create a new message

= form_for @message do |f|
  = f.label 'Subject'
  = f.text_field :subject
  %br
  = f.label 'Body'
  = f.text_area :body

  = f.hidden_field :receiver_id
  = f.hidden_field :reservation_id
  = f.submit

-#body 
-#subject
-#sender_id
-#receiver_id
-#read_at 
-#deleted
-#reservation_id
