.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3
  %p= "City : #{r.city}"
  %p= "Dates : #{r.preferred_date_start} to #{r.preferred_date_end}"
  %p= "Drinks : #{r.prefer_drinks}"
  %p= "Dining Time : #{r.preferred_reservation_time.strftime("%I:%M %p")}"
  = link_to 'Delete', r, method: :delete, data: {confirm: "Are you sure?"}
  %br
  = link_to 'Find Matches', find_matches_path(r)
