%h1 Your Reservation
%p= "City : #{@reservation.city}"
%p= "Dates : #{@reservation.preferred_date_start} to #{@reservation.preferred_date_end}"
%p= "Drinks : #{@reservation.prefer_drinks}"
%p= "Dining Time : #{@reservation.preferred_reservation_time.strftime("%I:%M %p")}"
