<!DOCTYPE html>
%html
  %head
    %title Chkntndr
    = stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    - if notice
      %p.alert
        = notice

    - if alert
      %p.alert
        = alert

    .navbar.navbar-default.bs-docs-nav{:role => 'banner'}
      .container-fluid
        .navbar-header
          .navbar-brand= link_to 'CHKTNDR', root_path
          %button.navbar-toggle{:type => "button", 'data-toggle' => "collapse",  'data-target' => ".bs-navbar-collapse"}
            %span.sr-only Toggle only
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        .navbar-collapse.bs-navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar.pull-right{:role => 'navigation'}
            - if current_user
              %li You are currently signed in as #{current_user.full_name}.
              %li
                = link_to 'Sign Out', destroy_user_session_path, method: :delete
            - else
              %li
                = link_to 'Sign Up', new_user_registration_path
              %li
                = link_to 'Login', new_user_session_path
            %li
              = link_to 'Contact', '#'
            %li
              = link_to 'About', '#'

    = yield
