<!DOCTYPE html>
%html
  %head
    %title Chkntndr
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    - if notice
      %p.alert
        = notice

    - if alert
      %p.alert
        = alert

    .navbar.navbar-default{:role => 'navigation'}
      .container
        %ul.nav.navbar-nav.navbar.pull-right
          - if current_user
            %li You are currently signed in as #{current_user.full_name}.
            %li
              %a= link_to 'Sign Out', destroy_user_session_path, method: :delete
          - else
            %li
              %a= link_to 'Sign Up with LinkedIn', user_omniauth_authorize_path(:linkedin)
            %li
              %a= link_to 'Login', new_user_registration_path
          %li
            %a= link_to 'Contact', '#'
          %li
            %a= link_to 'About', '#'

    = yield
