<!DOCTYPE html>
%html
  %head
    %title Chkntndr
    = stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

  %body
    .navbar.navbar-default{:role => 'navigation'}
      .container-fluid
        .navbar-header
          .navbar-brand= link_to 'CHKNTNDR', root_path
          %button.navbar-toggle.dropdown-toggle.glyphicon.glyphicon-align-justify{'type' => "button", 'data-toggle' => "collapse",  'data-target' => "#navigationbar"}
            %span.sr-only Toggle only
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar


        .collapse.navbar-collapse#navigationbar
          %ul.nav.navbar-nav.pull-right
            - if current_user
              %li Hello, #{current_user.first_name.humanize}!
              %li
                = link_to 'Create', new_reservation_path
              %li
                = link_to 'Manage', reservations_path

              %li
                = link_to 'Sign Out', destroy_user_session_path, method: :delete
            - else
              %li
                = link_to 'Sign Up', new_user_registration_path
              %li
                = link_to 'Login', new_user_session_path
            %li
              = link_to 'Contact', '#'
            %li
              = link_to 'About', '#'
    - if notice
      %p.alert
        = notice

    - if alert
      %p.alert
        = alert


    = yield
